*.lnk
*.zip
*.exe
*.dcu
*.obj
*.~*
*.identcache
*.dsk
*.tds
*.local
*.ppk
*.public_key
*.seq
examples/
firmware/
LogCompiler/old/
LogCompiler/Test/
LogConsole/Debug/
LogConsole/LogConsole.sic
LogConsole/LogConsole.todo
Docs/*
!Docs/Sequences.*
